:root {
    --beet-color: #8a2b6f;
    --dark-bg: #1e1e1e;
    --sidebar-bg: #252525;
    --table-bg: #353535; 
    --input-bg: #333333;
    --border-color: #555555;
    --highlight-color: #4b2647;
    --primary-btn: #007bff;
}

body {
    background-color: var(--dark-bg);
    color: #cfcfcf;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar-container, .form-container {
    background-color: var(--sidebar-bg);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #444;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.table-container {
    background-color: var(--table-bg);
    overflow: auto;
    max-height: 85vh;
    padding: 20px;
}

input, select, textarea, button {
    background-color: var(--input-bg);
    color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

input, select, textarea {
    box-shadow: 0 0 0 0.2rem var(--beet-color);
}

button:hover, input:focus, select:focus, textarea:focus {
    background-color: #444;
    border-color: #666;
}

.tighten-table th, .tighten-table td {
    padding: 0.5rem;
    font-size: 0.9rem;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ffffff;
}

.tighten-table th {
    background-color: var(--highlight-color);
    color: #ffffff;
}

.tighten-table td {
    background-color: var(--table-bg); 
    color: #ffffff;
}

.table-striped tbody tr:hover {
    background-color: #444;
}

#paginationControls {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#paginationControls button {
    margin: 0 3px;
    padding: 3px 8px;
    font-size: 0.9rem;
}

#clearFilters {
    margin: 10px;
    padding: 5px 10px;
    background-color: var(--primary-btn);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearFilters:hover {
    background-color: #0056b3; 
}

#logo-container {
    position: absolute;
    bottom: 50px;
    right: 120px; 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px; 
    height: 250px; 
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#beetiful-logo {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

#beetiful-logo:hover {
    opacity: 1;
}

th input[type="text"] {
    width: 100%;
    display: block;
    margin-top: 5px;
}

input[type="text"]:not(:placeholder-shown) {
    border: 2px solid var(--highlight-color);
}

.active-page {
    background-color: var(--primary-btn);
    color: white;
    border: none;
    outline: none;
    cursor: default;
    pointer-events: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }

    .sidebar-container, .main-content, .form-container {
        width: 100%;
        padding: 10px;
        border: none;
    }
}

#commandBuilder input,
#commandBuilder select,
#commandBuilder button,
#commandBuilder textarea {
    background-color: #333333;
    color: #ffffff;
    border: none; 
    box-shadow: inset 0 0 0 0.2rem rgba(138, 43, 111, 1); 
    border-radius: 3px; 
    padding: 5px;
    margin: 5px 0;
}


#commandBuilder input:hover,
#commandBuilder select:hover,
#commandBuilder button:hover,
#commandBuilder textarea:hover,
#commandBuilder input:focus,
#commandBuilder select:focus,
#commandBuilder textarea:focus {
    background-color: #444444; 
    outline: none; 
}


#importOptions {
    padding: 10px;
    background-color: #2e2e2e; 
    color: #ffffff;
    border-radius: 5px;
}


#beetImportButton {
    background-color: #4b2647; 
    color: #ffffff;
    border: none; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#beetImportButton:hover {
    background-color: #f805e8; 
}


#commandBuilder input::placeholder {
    color: #777777;
}

th {
    cursor: pointer; 
    position: relative; 
    padding-right: 20px; 
}


th.sortable::after {
    content: ''; 
}


.sort-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #cfcfcf; 
}


th.asc .sort-arrow {
    content: '▲'; 
}

th.desc .sort-arrow {
    content: '▼'; 
}

